<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minu veebisait</title>
</head>

<body>
    <img alt="bänner lehel" src="vp_banner_2025_TA.jpg" />
    <h1>Hello World! by: Roland</h1>
    <h2>Tere maailm!</h2>
    <p>See on tehtud <a href="https://www.tlu.ee/">TLÜ</a> veebiprogrammeerimise kursusel, ÄGE leht!</p>
    <hr />
    <ul>
        <a href="/">koju</a>
    </ul>
    <hr />
	<div>
		<form method="POST">
			<label for="actorFirstName">Eesnimi:</label>
			<input id="actorFirstName" type="text" name="actorFirstName" placeholder="Kirjuta nimi" /><br>
			<label for="actorLastname">Perekonnanimi:</label>
			<input id="actorLastname" type="text" name="actorLastname" placeholder="Kirjuta nimi" />
			<br>
			<label for="born">Sünnikuupäev:</label>
			<input id="born" type="date" name="born"/><br>
			<label for="death">Surmakuupäev (pole kohustuslik):</label>
			<input id="death" type="date" name="death"/><br>
						<br>
			<input id="reqSubmit" type="submit" name="reqSubmit" value="Salvesta">
		</form>
	</div>
    <hr />
</body>

</html>