<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minu veebisait</title>
    <link href="styles.css" rel="stylesheet" />
</head>

<body>
    <img alt="bĆ¤nner lehel" src="vp_banner_2025_TA.jpg" />
    <h1>Hello World! by: Roland</h1>
    <h2>Tere maailm!</h2>
    <p>See on tehtud <a href="https://www.tlu.ee/">TLĆ</a> veebiprogrammeerimise kursusel, Ć„GE leht!</p>
    <hr />
    <ul>
        <a href="/">koju</a>
    </ul>
    <hr />
    <div>
        <% people.forEach(function(person){ %>
            <div>
                <p><%= person.first_name + " " + person.last_name  %></p>
				<%if(person.deceased){%>
					<p>Surnud</p>
					<%}else{%>
					<p>Elus</p>
				<%}%>
				<br>
            </div>
                <% }); %>
    </div>
    <hr />
</body>

</html>