<!DOCTYPE html>
<html lang="et">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Minu veebisait</title>
	<link href="styles.css" rel="stylesheet" />
</head>

<body>
	<img alt="bänner lehel" src="vp_banner_2025_TA.jpg" />
	<h1>Hello World! by: Roland</h1>
	<h2>Tere maailm!</h2>
	<p>See on tehtud <a href="https://www.tlu.ee/">TLÜ</a> veebiprogrammeerimise kursusel, ÄGE leht!</p>
	<hr />
	<ul>
		<a href="/">koju</a>
	</ul>
	<hr />
	<div>
		<form method="POST">
			<label for="posName">Ameti nimetus:</label>
			<input id="posName" type="text" name="posName" placeholder="Kirjuta nimi" /><br>
			<label for="posDesc">Ameti kitjeldus:</label>
			<br>
			<textarea cols="50" rows="5" id="posDesc" type="text" name="posDesc" placeholder="Kirjuta nimi"></textarea>
			<br>
			<input id="reqSubmit" type="submit" name="reqSubmit" value="Salvesta">
		</form>
	</div>
</body>

</html>