body {
	background-color: #004F73;
	color: white;

	font-family: helvetica;
	max-width: 100%;
	padding: 0;
	margin: 0
}

h1 {
	background-color: #FCCD4E;
	width: 100%;
	color: black;
	text-align: center;
	text-align: center;
}

p,
h2 {
	font-weight: bold;
	text-align: center;
}

a {
	color: white;
	font-weight: bold;
	text-align: center;
}

a:hover {
	color: red;
	transition: color 1s;
}